#background, #message_win, #message_fail, #again_button, #exit_button, #ask_name_lb, #confirm_name, #enter_name_box {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

#main_score,
#enemy_score {
    -fx-font-size: 30px;
    -fx-text-fill: #fcba03;
    -fx-font-weight: bold;
}

#main_score .text,
#enemy_score .text {
    -fx-stroke:black;
    -fx-stroke-width: 2px;
}

#message_win {
    -fx-background-image : url("Images/victory.png");
}

#message_fail {
    -fx-background-image : url("Images/failure.png");
}

#background {
   -fx-background-image : url("Images/pause_background.jpg");
}

#again_button {
    -fx-background-image : url("Images/again.png");
}

#exit_button {
    -fx-background-image : url("Images/exit.png");
}

#ask_name_lb {
    -fx-background-image : url("Images/ask_name.png");
}

#confirm_name {
    -fx-background-image : url("Images/confirm.png");
}

#enter_name_box {
    -fx-background-image : url("Images/menu_back.jpg");
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-visibility: hidden;
}
