#Main {
        -fx-background-image : url("Images/menu_back.jpg");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#logo {
        -fx-background-image : url("Images/game_logo.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#start {
        -fx-background-color: none;
        -fx-background-image : url("Images/start.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#exit {
        -fx-background-color: none;
        -fx-background-image : url("Images/exit.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#leaderboard {
        -fx-background-color: none;
        -fx-background-image : url("Images/leaderboard.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}