#game-area-root {
    -fx-background-image : url("Images/game_area_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#black-house,
#yellow-house {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-pref-height: 150px;
    -fx-pref-width: 150px;
}

#yellow-bee-count,
#red-bee-count {
    -fx-font-size: 30px;
    -fx-text-fill: #fcba03;
    -fx-font-weight: bold;
}

#red-bee-count .text,
#yellow-bee-count .text,
#timer-lb .text {
    -fx-stroke:black;
    -fx-stroke-width: 2px;
}

#timer-lb {
        -fx-font-size: 30px;
        -fx-text-fill: #fcba03;
        -fx-font-weight: bold;
}

#black-house {
    -fx-background-image : url("Images/apiary_2.png");
}

#yellow-house {
    -fx-background-image : url("Images/apiary_1.png");
}

#bee-yellow,
#bee-red {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

#bee-yellow {
    -fx-background-image : url("Images/bee_right_1.png");
}

#bee-red {
    -fx-background-image : url("Images/bee_left_2.png");
}


#pop-up, #pause-label, #resume-button, #save-button, #exit-button {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#pop-up {
    -fx-background-image : url("Images/pause_background.jpg");
    -fx-visibility: hidden;
}

#pause-label {
    -fx-background-image : url("Images/pause_label.png");
}

#resume-button {
    -fx-background-image : url("Images/resume_button.png");
}

#save-button {
    -fx-background-image : url("Images/save_button.png");
}

#exit-button {
    -fx-background-image : url("Images/exit.png");
}