#background, #join, #host, #back, #menu_lb {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#background {
   -fx-background-image : url("Images/menu_back.jpg");
}

#host {
        -fx-background-image : url("Images/host_game.png");
}

#join {
        -fx-background-image : url("Images/join_game.png");
}

#back {
        -fx-background-image : url("Images/back.png");
}

#menu_lb {
        -fx-background-image : url("Images/mp.png");
}