#background, #back_button, #tab_label {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

#background {
    -fx-background-image : url("Images/menu_back.jpg");
}

#back_button {
    -fx-background-image : url("Images/back.png");
}

#tab_label {
    -fx-background-image : url("Images/tab.png");
}

#text {
    -fx-font-size: 30px;
    -fx-text-fill: #fcba03;
    -fx-font-weight: bold;
}

#text .text {
    -fx-stroke:black;
    -fx-stroke-width: 2px;
}