#background, #message, #again_button, #exit_button {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

#main_count,
#enemy_count {
    -fx-font-size: 30px;
    -fx-text-fill: #fcba03;
    -fx-font-weight: bold;
}

#background {
   -fx-background-image : url("Images/pause_background.jpg");
}

#again_button {
    -fx-background-image : url("Images/again.png");
}

#exit_button {
    -fx-background-image : url("Images/exit.png");
}

