#Main {
        -fx-background-image : url("Images/menu_back.jpg");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#label {
        -fx-background-image : url("Images/regime_label.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#single {
        -fx-background-color: none;
        -fx-background-image : url("Images/new_game.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#load{
        -fx-background-color: none;
        -fx-background-image : url("Images/load_game.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}


#host {
        -fx-background-color: none;
        -fx-background-image : url("Images/host_game.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#join {
        -fx-background-color: none;
        -fx-background-image : url("Images/join_game.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#back {
        -fx-background-color: none;
        -fx-background-image : url("Images/back.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}