#background {
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

#background {
    -fx-background-image : url("Images/menu_back.jpg");
}

#score_count,
#player_name {
    -fx-font-size: 30px;
    -fx-text-fill: #fcba03;
    -fx-font-weight: bold;
}